<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cmt?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hbm2dll.auto">update</property>
    
    <mapping class="com.gestionCMT.entity.Users"/>
    <mapping class="com.gestionCMT.entity.Patient"/>
    <mapping class="com.gestionCMT.entity.Antecedent"/>
    <mapping class="com.gestionCMT.entity.Consultation"/>
    <mapping class="com.gestionCMT.entity.Traitement"/>
    <mapping class="com.gestionCMT.entity.Examen"/>
    <mapping class="com.gestionCMT.entity.Visite"/>
    <mapping class="com.gestionCMT.entity.Locomoteur"/>
    <mapping class="com.gestionCMT.entity.Opht"/>
    <mapping class="com.gestionCMT.entity.Orl"/>
    <mapping class="com.gestionCMT.entity.Respiratoire"/>

  </session-factory>
</hibernate-configuration>
